<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Add Category</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <style>
        .nav-pills{
            width: 90px;
        }

        #item{
            width: 20px;
        }
    </style>
</head>
<body>


<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-lg">
    <a class="navbar-brand mr-5" href="#"><b>E-Commerce</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto nav-pills w-75">
        <li class="nav-item ">
          <a class="nav-link mx-3 text-white bg-danger active text-center " href="{% url 'adminPage' %}"><b>ADMIN HOME</b><span class="sr-only">(current)</span></a>
        </li>
     </ul>

    <div class="ml-auto">
        <ul class="navbar-nav">

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle mx-3" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img src="{% static 'images/login.png' %}" width="40px" height="40px" alt="">
                </a>
                <div class="dropdown-menu" id="item" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item bg-white" href="{% url 'logout' %}">Logout</a>
                </div>
              </li>
         </ul>
        </div>
    </div>
</nav>
<!-- navbar -->

<br><br><br><br>

<!-- Add Category -->
    <div class="container text-center shadow-lg border w-50">

        <br>

        <div>
            <h3>Add Category</h3>
        </div>

        <form action="{% url 'addCategory' %}" method="POST">
            {% csrf_token %}
            <input type="text" name="categoryName" class="form-control mt-4 w-50 mx-auto" placeholder="Enter Category Name">
            <button class="btn btn-success mt-4 mb-3" type="submit"><b>SUBMIT</b></button>
        </form>

        <div class="text-center mt-4">
            <button class="btn btn-danger w-25 " ><a class=" text-light" style="text-decoration: none;" href="javascript:history.go(-1);"><b>GO BACK</b></a></button>
        </div>
        <br>

    </div>
<!-- Add Category -->
    
</body>
</html>